# Ignore node_modules
node_modules/
client/node_modules/
mobile/node_modules/

# Ignore local client and mobile folders as server/web don't need them
client/
mobile/

# Ignore version control, config, and editor settings
.git/
.gitignore
.expo/
.vscode/

# Ignore build artifacts
build/
dist/
.vite/

# Ignore runtime data and media
data/
uploads/
scratch/

# Ignore executables and logs
check_errors
run_tests
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore docs
*.md
wiki/
images_readme/
